@import "../../const/variables.scss";

#credentials-page form {
  background: $primary;
  color: $secondary;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 200px;

  border-radius: 10px;

  margin: 20vh 0 0 50%;
  padding: 0 50px 50px 50px;
  transform: translateX(-50%);

  input,
  span {
    margin-bottom: 25px;
  }

  span {
    color: red;
    font-size: small;
  }

  h2 {
    align-self: center;
  }
}
